__pycache__
.coverage
.coverage.xml
coverage/*
.DS_Store
.idea
.jscoverage
.project
.pydevproject
.pylint-report.txt
.pytest_cache/*
.scannerwork
.tox
.vagrant
*.pyc
*.swp
celerybeat*
docs/build/*
docs/source/.doctrees/*
htmlcov
node_modules/*
*/node_modules/*
*hot-update*
*.log
volume/*
